<div ng-controller="LoginController">

    <div class="row">
        <div class="large-12 columns">

            <form>
                <fieldset>
                    <legend>Please Log In</legend>

                    <label>Username
                        <input type="text" placeholder="">
                    </label>


                    <label>Password
                        <input type="text" placeholder="">
                    </label>

                    <input type="button" class="button" ng-click="submit()" value="login">

                    &nbsp;
                    &nbsp;
                    <a href="">Register</a>
                </fieldset>
            </form>
        </div>
    </div>


</div>