<div>

    <div class="row">
        <div class="large-12 columns">

            <form>
                <fieldset>
                    <legend>Please Log In</legend>

                    <label>Email
                        <input type="text" placeholder="" required>
                    </label>


                    <label>Password
                        <input type="password" placeholder="" required>
                    </label>

                    <input type="button" class="button" ng-click="submit()" value="Log In">

                    &nbsp;
                    &nbsp;
                    <a href="#register">Register</a>
                </fieldset>
            </form>
        </div>
    </div>


</div>