

<div ng-controller="PatientController">


    <div class="row">
        <div class="large-12 columns">

            <ul class="breadcrumbs">
                <li><a href="#home">Back</a></li>
                <li class="current">Patient Data</li>
                <li class="right"><a href="#logout">Log Out</a></li>
            </ul>

            <div class="panel">


                <div class="row">
                    <div class="large-4 columns">
                        <dl>
                            <dt>Name</dt>
                            <dd>{{ patientData.name }}</dd>
                            <dt>DOB</dt>
                            <dd>{{ patientData.dob }}</dd>
                            <dt>ID</dt>
                            <dd>{{ patientData.id }}</dd>
                            <dt>Gender</dt>
                            <dd>{{ patientData.gender | uppercase }}</dd>
                        </dl>
                    </div>
                    <div class="large-4 columns">

                        <dl>
                            <dt>Address</dt>
                            <dd> 123 A St.</dd>
                            <dt>Contact</dt>
                            <dd>111-111-1111</dd>
                            <dt>Care Plan</dt>
                            <dd>Blue Shield #123</dd>
                        </dl>

                    </div>
                    <div class="large-4 columns">
                        <dl>
                        <dt>Allergies</dt>
                            <dl>

                                <ul>
                                    <li>Peanuts</li>
                                    <li>Orange</li>
                                </ul>
                            </dl>


                    </div>
                </div>
            </div>


        </div>
        <div class="large-7 columns">


            <div class="panel">
                <h5>Medical History</h5>
                <ul>
                    <li>example</li>
                </ul>

            </div>
            <div class="panel">
                <h5>Immunization History</h5>
                <ul>
                    <li>example</li>
                </ul>

            </div>
        </div>
        <div class="large-5 columns">

            <div class="panel">
                <h5>Prescription & Medication History</h5>
                <ul>
                    <li>example</li>
                </ul>

            </div>
        </div>
    </div>

</div>