

<div ng-controller="PatientController">


    <div class="row">
        <div class="large-12 columns">

            <ul class="breadcrumbs">
                <li><a href="#home">Back</a></li>
                <li class="current">Patient Data</li>
                <li class="right"><a href="#logout">Log Out</a></li>
            </ul>

            <div>
                <div class="right">
                    {{ patientData.content.identifier[0].value }}
                </div>
                <h1> {{ patientData.content.name[0].family[0] }}, {{ patientData.content.name[0].given[0] }}</h1>

            </div>
        </div>
        <div class="large-12 columns">
            <h5>Prescription & Medication History</h5>
            <table>
                <thead>
                <tr>
                    <th>Drug</th>
                    <th>Written</th>
                    <th>Filled</th>
                    <th>Quantity</th>
                    <th>Days</th>
                    <th>Prescriber</th>
                    <th>RX #</th>
                    <th>Pharmacy</th>
                    <th>Refills</th>
                    <th>Paid</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in prescriptionData">
                    <td>{{ item[3] }}</td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[4] }}</td>
                    <td>{{ item[5] }}</td>
                    <td>{{ item[6] }}</td>
                    <td>{{ item[7] }}</td>
                    <td>{{ item[8] }}</td>
                    <td>{{ item[9] }}</td>
                    <td>{{ item[10] }}</td>
                </tr>
                </tbody>
            </table>

            <div class="panel">
                <h5>Conditions</h5>
                <ul>

                    <li ng-repeat="item in conditionData ">
                        {{ item.published | date : shortDate }}
                        {{ item.content.code.coding[0].display }}
                        onset {{ item.content.onsetDate | date : shortDate }}



                    </li>
                </ul>

            </div>
            <div class="panel">
                <h5>Observations</h5>
                <ul>
                    <li ng-repeat="item in observationData ">
                        {{ item.content.appliesDateTime | date : shortDate }}
                        {{ item.content.name.coding[0].display }}

                        {{ item.content.valueQuantity.value }}
                        {{ item.content.valueQuantity.units }}


                    </li>
                </ul>

        </div>


    </div>

</div>