<div ng-controller="LoginController">

    <div class="row">
        <div class="large-12 columns">

            <form>
                <fieldset>
                    <legend>Registration</legend>

                    <label>Email
                        <input type="text" placeholder="" required>
                    </label>


                    <label>Password
                        <input type="text" placeholder="" required>
                    </label>

                    <label>Confirm Password
                        <input type="text" placeholder="" required>
                    </label>


                    <label>Authorization Code
                        <input type="text" placeholder="" required>
                    </label>

                    <input type="button" class="button" ng-click="submit()" value="Register">

                    &nbsp;
                    &nbsp;
                    <a href="#login">Log In</a>
                </fieldset>
            </form>
        </div>
    </div>


</div>